@using GruppArbete1.Models
@model Band

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Products</title>
</head>
<body>
    <h1>@Model.Name</h1>

    <h3>Description</h3>
    <p>@Model.Description</p>

</body>
</html>
