@using GruppArbete1.Models
@model Band

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Products</title>
</head>
<body>
    <img src="@String.Format("/images/{0}.jpg", Model.Id)" class="img" alt="My image" />

    <h1>@Model.Name</h1>

    <h4>Description</h4>
    <p>@Model.Description</p>

    <style>
        .img {
            max-width: 50%;
        }
    </style>


</body>
</html>
