@using GruppArbete1.Models
@model Band[]

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <p>
        Nu är Klockan @DateTime.Now
    </p>
    <ul>
        @foreach (var item in Model)
        {
            <li> test2 @item.Id @item.Name @item.Description </li>
        }
    </ul>
</body>
</html>
